.historico {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #9e9e9e;
}

.historico__head {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-end;
  background-color: #e7e7e7;
  z-index: 1;
}

.historico__head__text {
}

.historico__content-main {
  background: #868686;
  position: absolute;
  width: 100%;
  top: 25px;
  border-radius: 0 0 25px 25px;

}

.historico__lista {
  width: 100%;
  height: 0px;
  /* max-height:170px; */
  margin: 0;
  padding: 0;
  
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  scrollbar-color: #3b3b3b #9e9e9e;
  scrollbar-width: thin;
  border-bottom: 1px solid #555353;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* ======================= */
.historico__item {
width: 100%;  
  display: flex;
  flex-direction: column;
  align-items: flex-end;  
}

.historico__item:nth-child(odd) {
  /* background-color: rgb(129, 129, 129); */
  background-color: #0000001c;
}

.historico__item:nth-child(even) {
  /* background-color: rgb(63, 63, 63); */
}
/* ======================= */
.historico__valores {
  width: 100%;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: stretch;
  color: #080808;
  text-align:end;
}

.historico__texto {
  /* width: 100%; */
  margin-bottom: 9px;

  font-family: Arial, Helvetica, sans-serif;
}


.historico__icon-More-Horiz {
  height: 24px;
  width: 24px;

  position: relative;
  right: 0;
  top: 0;
  fill: #97a5b3;
  z-index: 1;
}

.historico__expressao-atual{
display: none;
  width: 100%;
  padding: 5px 0 5px 0;
  text-align: center;
}

.historico__expressao-atual__texto{
}

.historico__drop-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 0 0 0;
  background: none;
}

.historico__icon-expandir {
  height: 29px;
  fill: #ff9a00;
  height: inherit;
  width: auto;
}

.historico__botoes {
  height: 70px;
  width: auto;
  padding: 0 10px;
  
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  right: 40px;
  top: 0px;
  z-index: 90;
  background-color: #556b80;

  visibility: hidden;
  border-radius: 5px;
}

.historico__botoes .historico__botao {
  background: none;
  border: none;
  padding: 4px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 20px;
  width: 100%;
  border-bottom: 1px solid #2c354d;
  user-select: none;
}

/* @media screen and (max-width: 370px) {

  .historico__lista {
    max-height:100px;
  }
  
} */