.historico {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  
  overflow: hidden;
  background-color: #9e9e9e;
}

.historico__drop-bar {
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  justify-content: flex-end;
  
  background-color: #e7e7e7;
}

.historico__drop-bar__text {
}

.historico__lista {
  width: 100%;
  height: 226px;
  margin: 0;
  padding: 0;
  
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;

  scrollbar-color: #3b3b3b #9e9e9e;
  scrollbar-width: thin;
  overflow-y: overlay;

}
/* ======================= */
.historico__item {
width: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  position: relative;
}

.historico__item:nth-child(odd) {
  /* background-color: rgb(129, 129, 129); */
}

.historico__item:nth-child(even) {
  /* background-color: rgb(63, 63, 63); */
  background-color: #0000001c;
}
/* ======================= */
.historico__valores {
  width: 100%;
  padding-right: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: stretch;
  color: #080808;
  text-align:end;
}

.historico__texto {
  /* width: 100%; */
  margin-bottom: 9px;

  font-family: Arial, Helvetica, sans-serif;
}


.historico__icon-More-Horiz {
  height: 24px;
  width: 24px;

  position: relative;
  right: 0;
  top: 0;
  fill: #97a5b3;
  z-index: 1;
}

.historico__icon-expandir {
  fill: #ff5b00;
}

.historico__botoes {
  height: 70px;
  width: auto;
  padding: 0 10px;

  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  right: 25px;
  top: 24px;
  background-color: #556b80;
  position: absolute;

  visibility: hidden;
  border-radius: 5px;
}

.historico__botoes .copiar,
.adicionar {
  background: none;
  border: none;
  padding: 4px 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 20px;
  width: 100%;
  border-bottom: 1px solid #2c354d;
}
