/* mensagem erro */
.msg-error {
  visibility: hidden;
  display: flex;
  width: 130px;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(214, 29, 29);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px 3px 5px 3px;
  z-index: 99;
}

.msg-error .msg-error__text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.msg-error--off {
  visibility: hidden;
}
.msg-error--on {
  transition: 1s;
  visibility: visible;
}

/* mensagem copiado */
.msg-copiado{
  position:fixed;
  box-sizing:content-box;
  margin: 0;
  text-align: center;
  padding: 2px 2px;
  line-height:21px;
  background-color: rgb(87, 176, 192);
  width: 65px;
  height: 25px;
  border-radius: 25%/ 60% 60% 5% 60%;
  border: 1px solid #a5a5a5;
  box-shadow: 2px 2px 0px 0px #313131;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99;
}

.msg-copiado__text{
  color: rgb(0, 0, 0);
  font-weight: 600;
}