.msg-error {
  visibility: hidden;
  display: flex;
  width: 130px;
  height: 30px;
  border-radius: 6px;
  background-color: rgb(214, 29, 29);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  left: 10px;
  align-items: center;
  justify-content: center;
  padding: 5px 3px 5px 3px;
  z-index: 99;
}

.msg-error .msg-error__text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
}

.msg-error--off {
  visibility: hidden;
}
.msg-error--on {
  transition: 1s;
  visibility: visible;
}
