/* .car_zero {
    grid-column: 1;
    grid-row: 1;
  }
  
  .car_um {
    grid-column: 2;
    grid-row: 1;
  }
  
  .car_dois {
    grid-column: 3;
    grid-row: 1;
  }
  
  .car_tres {
    grid-column: 4;
    grid-row: 1;
  }
  
  .car_quatro {
    grid-column: 5;
    grid-row: 1;
  }
  
  .car_cinco {
    grid-column: 6;
    grid-row: 1;
  }
  
  .car_seis {
    grid-column: 7;
    grid-row: 1;
  }
  
  .car_sete {
    grid-column: 8;
    grid-row: 1;
  }
  
  .car_oito {
    grid-column: 9;
    grid-row: 1;
  }
  
  .car_nove {
    grid-column: 10;
    grid-row: 1;
  }
  
  .car_adicao {
    grid-column: 1;
    grid-row: 2;
  }
  
  .car_subtracao {
    grid-column: 2;
    grid-row: 2;
  }
  
  .car_multiplicacao {
    grid-column: 3;
    grid-row: 2;
  }
  
  .car_divisao {
    grid-column: 4;
    grid-row: 2;
  }
  
  .car_potenciacao {
    grid-column: 5;
    grid-row: 2;
  }
  
  .car_radiciacao {
    grid-column: 6;
    grid-row: 2;
  }
  
  .car_porcentagem {
    grid-column: 7;
    grid-row: 2;
  }
  
  .car_inserir-fracoes {
    grid-column: 8;
    grid-row: 2;
  }
  
  .car_inserir-abrir-parenteses {
    grid-column: 9;
    grid-row: 2;
    width: 50%;
  }
  
  .car_inserir-fechar-parenteses {
    grid-column: 10;
    grid-row: 2;
    width: 50%;
  }
  
  .inverter-sinal {
    grid-column: 1;
    grid-row: 3;
  }
  
  .igual {
    grid-column: 2;
    grid-row: 3;
  }
  
  .apagar-tudo {
    grid-column: 3;
    grid-row: 3;
  }
  
  .apagar {
    grid-column: 4;
    grid-row: 3;
  } */