body{
    margin: 0;
    padding: 0 5px;
}

.main {
    height: min-content;
    max-height: 550px;
    position: relative;

    width: 100%;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #8e8e8e;
}

/* .entrada__container{
width: 100%;
} */

.entrada {
    box-sizing: border-box;
    width: 100%;
    max-height: 70px;
    margin: 60px 0 30px 0;
    font-size: 40px;
    padding: 0;
    padding-right: 10px;
    padding-left: 10px;
    background: none;
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.entrada:focus {
    outline: none;

  }

#botoes {
    height: 100vh;
    min-height: 200px;
    max-height: 370px;
    padding: 10px 8px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.botao {
    width: 100%;
    height: 100%;
    /* max-height: 64px; */

    margin: 2px;
    padding: 0;
    border-radius: 5px;
    border: solid 1px  #646464;
}

.car-inserir_abrir_parenteses, .car-inserir_fechar_parenteses{
    width: 50%
}

@media screen and (max-width: 370px) {

    .main{
        max-height: 410px;
    }

    .entrada {
        margin-top: 50px;
        margin-bottom:0;
        font-size: 30px;
    }

    #botoes{
        margin-top: 10px;
        max-height: 270px;
    }

}